{% extends 'main.html' %}

{% load staticfiles %}

{% block head %}

<link rel="stylesheet" href="{% static 'style_adicionais.css' %}">
<script defer src="{% static 'script.js' %}"></script>

{% endblock %}

{% block content %}
<div class="divisao">
    <!--~~~~~~~~~~COLOCA O FORMULARIO NO HTML~~~~~~~~~~~-->
    <!--metodos http://-->
    <form method='POST'>
            {% csrf_token %}
            {{ form }}
            <button type='submit'>Cadastrar</button>
            {% if msg %}
                <h2>{{ msg }}</h2>
            {% endif %}
        </form>
            
        

</div>
{% endblock %}