{% extends 'main.html' %}

{% load staticfiles %}

{% block head %}

<link rel="stylesheet" href="{% static 'style_adicionais.css' %}">
<script defer src="{% static 'script.js' %}"></script>

{% endblock %}

<!-- ---------------------------fim do head------------------------------------------------------- -->

{% block content %}
<div class="divisao">
    <div>
        {% for cadastrado in cadastrados %}
        <img src="{{ cadastrado.foto.url }}" alt="img_perfil">
        <h2>{{ cadastrado.nome }}</h2>
        <p>{{ cadastrado.idade }}</p>
        {% endfor %}
    </div>
</div>
   
{% endblock %}
